.App{
    height: 100%;
    background-size: cover;
}

@font-face {
    font-family: 'iconfont';  /* Project id 2501253 */
    src: url('//at.alicdn.com/t/font_2501253_9gh4ldfjr4u.woff2?t=1621599133434') format('woff2'),
         url('//at.alicdn.com/t/font_2501253_9gh4ldfjr4u.woff?t=1621599133434') format('woff'),
         url('//at.alicdn.com/t/font_2501253_9gh4ldfjr4u.ttf?t=1621599133434') format('truetype');
  }